*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 18px;
}

.btn {
    color: white;
    font-size: 30px;
}

.btn:hover {
    color: red;
    font-size: 36px;
    transition: all 500ms;
}

.answer {
    border: none;
}

.answer:hover {
    color: red;
    border: none;
}

#questions-answers {
    border: none;
    font-size: 22px;
    line-height: 22px;
    margin: 56px 16px 16px 100px;
  }
  
  #question {
    padding-bottom: 50px;
  }
  
  #results {
    border: none;
    border-radius: 25px;
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 20px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
  }

  #title {
      margin-bottom: 55px;
  }

  #initials {
      margin-top: 35px;
  }
  
  .right-wrong {
    padding-top: 50px;
    font-weight: bold;
  }
  
  #answers {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  #clear {
      margin-top: 100px;
  }

  #score-header {
      text-decoration: underline;
      margin-bottom: 60px;
  }

